<div class="w-100 d-flex" style="background-color: #eee;" *ngIf="present">
  <div class="border d-flex  justify-content-center align-items-center bg-white text-black   w-25  ">
    <a class=" nav-link mt-2 color" routerLink="/link-kim"> <b>KYLIE</b></a>
  </div>
  <div class="border d-flex  justify-content-center align-items-center bg-black text-white w-25 ">
    <a class="nav-link mt-2" routerLink="/home"><b>KYLIE COSMETICS</b></a>
  </div>
  <div class="border d-flex  justify-content-center align-items-center bg-pink  text-white w-25 ">
    <a class="nav-link mt-2" routerLink="/link-gabri"><b>KYLIE</b>SKIN</a>
  </div>
  <div class="border d-flex  justify-content-center align-items-center bg-azur text-white  w-25 ">
    <a class="nav-link mt-2" routerLink="/link-stormi"><b>KYLIE</b>BABY </a>
  </div>

</div>
<button class="btn" (click)="hidden()">Click</button>
