<div class="all">
  <div class="logo">
    <img src="../../../assets/Kylie_Cosmetics_logo.png" alt="" width="250px">
  </div>

  <div class="menu-drop">
    <!--DROP ONE-->
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn " id="dropdownBasic1" ngbDropdownToggle>SHOP COSMETICS</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>FACE</button>
            <button ngbDropdownItem>LIPS</button>
            <button ngbDropdownItem>EYES</button>
          </div>
        </div>
      </div>
    </div>
    <!--DROP TWO-->
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn " id="dropdownBasic1" ngbDropdownToggle>SHOP SKIN</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>FACE</button>
            <button ngbDropdownItem>LIPS</button>
            <button ngbDropdownItem>EYES</button>
          </div>
        </div>
      </div>
    </div>


    <!--DROP THREE-->
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn " id="dropdownBasic1" ngbDropdownToggle>KYLIE BABY</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>FACE</button>
            <button ngbDropdownItem>LIPS</button>
            <button ngbDropdownItem>EYES</button>
          </div>
        </div>
      </div>
    </div>

    <!--DROP FOUR-->
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn " id="dropdownBasic1" ngbDropdownToggle>DISCOVER</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>FACE</button>
            <button ngbDropdownItem>LIPS</button>
            <button ngbDropdownItem>EYES</button>
          </div>
        </div>
      </div>
    </div>

    <!--DROP FIVE-->
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn " id="dropdownBasic1" ngbDropdownToggle>SALE</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>FACE</button>
            <button ngbDropdownItem>LIPS</button>
            <button ngbDropdownItem>EYES</button>
          </div>
        </div>
      </div>
    </div>

  </div>



  <div class="search">
    <form class="form-inline my-2 my-lg-0 rounded-circle" id="barr">
      <div class="cerca-icon">
        <img src="../../../assets/cerca.icon" alt="" width="25px">
      </div>
      <input class="form-control mr-sm-2 formm" type="search" aria-label="Search">
      <p class="place">Search</p>
    </form>
    <div class="icon">
      <img src="../../../assets/eu.ico" alt="" width="25px">
    </div>
    <div class="icon">
      <img src="../../../assets/user_icon.png" alt="" width="25px">
    </div>
    <div class="icon">
      <img src="../../../assets/shop.icon" alt="" width="25px">
    </div>
  </div>
</div>
