<h3>GET THE KENDALL & KYLIE LOOK</h3>
<div class="primo">
  <div class="secondo">
    <img src="../../../assets/k&k.jpg" alt="" width="800px" height="100%">
    <div class="d-flex flex-column  justify-content-center align-items-center">
      <img src="../../../assets/first.jpg" alt="" width="300px">
      <img src="../../../assets/terza.jpg" alt="" width="300px">
      <img src="../../../assets/seconda.jpg" alt="" width="300px">
    </div>
  </div>
</div>
<div class="d-flex flex-column  justify-content-center align-items-center">
  <button>
    <p class="par">ADD TO CART</p>
  </button>
</div>
