.primo {
  width: 100;

  display: flex;
  justify-content: center;
  align-items: center;
}

.secondo {
  width: 80%;
  display: flex;
  flex-direction: row;
}


button {
  margin: 10px;
  border: 1px solid black;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

button:hover {
  background-color: rgb(191, 171, 146);
  color: #fff;
}

.par {
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
}
