<h1 class="hone">KOKO LIFESTYLE </h1>
<div class="main">
  <img src="../../../assets/Khloe/kokhealth.jpg" alt="" class="photo">
  <div class="about">
    <h1>HOW SHE CAN</h1>
    <p>Powerfull, strong and unstopabble, the miracle transition of Khloe!</p>
    <p class="lungo">Do you go to different sisters for different things?
      It depends on the stages that the other siblings are in, in their lives. For example, Kourtney is so loved up
      right now, she's probably not the one I'm going to go rave with. You know what I mean? So, it really depends. But
      the older I get, the more and more I realize what an incredible relationship I have with each one of my siblings.
      It's totally cheesy, but I am so in love with each one of them.</p>
    <button [ngClass]="_button.type" class="btn">{{_button.label}}</button>
  </div>
</div>
